body {
    background-image: '../img/tree_bark.png');
}

.row {
    margin-top: 15px;
}

.container {
    margin-top: 40px;
    box-shadow: 5px 5px 5px rgba(150, 150, 150, 0.8);
    background-color: #FFF;
    border: 1px solid #DDD;
}